body {
    height:95%;
    font-family: Times New Roman, sans-serif;
}

h1 {
    text-align:center;
}

td {
    font-size: 15px;
    padding: 1px;
}

#prodInfo {
    font-family: Times New Roman, sans-serif;
    margin-top: 5px;
    margin-left: 25%;
    width: 50%;
}

#prodInfo td{
    background-color: rgb(173, 18, 18);
    text-align: center;
    color: rgba(245, 245, 245, 0.555);
}